.input-time {
  position: absolute;
  top: 70%;
  left: 50%;
  translate: -50% 0;
  display: flex;
  justify-content: center;
  pointer-events: all;
  width: 50% !important;
}

.input-field {
  width: 40vw;
  height: 6vh;
  border-radius: 10px;
  background-color: #000000;
  color: aqua !important;
  text-align: center;
}
