.hamburger-menu-container {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 1000;
    pointer-events: all;
    user-select: none;
}

.hamburger-menu-button {
    /* Match Calculate Button visual styles */
    color: rgb(87, 85, 85);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    background-color: #352e25;

    /* Flex layout for Icon + Text */
    display: flex;
    align-items: center;
    gap: 8px;

    /* Box Model & Borders */
    position: relative;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    /* Shadows & Effects */
    text-shadow: 0px 1px 0px #000;
    filter: drop-shadow(0px 1px 0px #000);
    box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #352e25;
    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #352e25;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #352e25;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.hamburger-menu-button:active {
    /* Match Calculate Button active state */
    top: 10px;
    /* Pressed effect */
    background-color: #f78900;

    box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
    -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
    -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}