.tab-selector-container {
  position: absolute;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  background: #343434;
  display: flex;
  border-radius: 50px;
  pointer-events: all;
  cursor: pointer;
}

.tab-selector-container div {
  min-width: 50px;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 50px;
}

.active-tab {
  background: white;
  /* padding: 50px; */
  color: #343434;
}
