.calulcate-button {
  position: absolute;
  top: 80%;
  left: 50%;
  translate: -50% 0;
  display: flex;
  justify-content: center;
  pointer-events: all;
  user-select: none;
}

.calulcate-button button {
  color: #d7d9da;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #2b2f33;
  display: block;
  position: relative;
  padding: 10px 20px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.4));

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.calulcate-button button:active {
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.actual-calulcate-button {
  cursor: pointer;
}
