button {
  pointer-events: all;
}

.background-options {
  top: 15px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.background-options button {
  padding: 10px 25px;
  border-radius: 25px;
  color: white;
  background: transparent;
  border: 1px solid;
  cursor: pointer;
}
.background-options button:hover {
  scale: 1.05;
}

.loader-active {
  opacity: 0.5;
  pointer-events: none;
}

/* New Loader Styles */
.logo-row {
  display: flex;
  gap: 20px;           /* space between images */
  justify-content: center;
  align-items: center;
  margin: 45vh auto;   /* Center vertically approximately */
  position: absolute;
  width: 100%;
  z-index: 10;
}

.logo-bounce {
  position: relative;
  width: 40px;         /* adjust image size */
  height: auto;
  animation: logoBounce 2s ease-in-out infinite;
}

/* DELAYS so they animate one after another */
.delay1 {
  animation-delay: 0.2s;
}
.delay2 {
  animation-delay: 0.4s;
}
.delay3 {
  animation-delay: 0.6s;
}

@keyframes logoBounce {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 30px;
    opacity: 0.2;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}