* {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}
.app {
  position: absolute;
  top: 0px;
  color: white;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

:root {
  --line-border-fill: #0091ff;
  --line-border-empty: #ff070f;
  --bar-percentage: 0%;
}

.view-change-button {
  position: absolute;
  height: fit-content;
  bottom: 50px;
  left: 50px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  pointer-events: all;
}

.joyride-overlay {
  pointer-events: none !important; /* allow overlay to catch clicks */
}

.joyride-hole {
  pointer-events: none !important; /* allow tooltip interactions only */
}

body.joyride-block {
  pointer-events: none !important; /* block page clicks */
}

body.joyride-block .react-joyride__tooltip {
  pointer-events: auto !important; /* allow tooltip interaction */
}

/* Make overlay block clicks outside the tooltip */
.react-joyride__overlay {
  pointer-events: none !important; /* allow overlay to capture clicks */
}

.react-joyride__spotlight {
  pointer-events: none !important; /* allow overlay to capture clicks */
}
