.progress-section {
  width: 100%;
  height: fit-content;
  position: absolute;
  opacity: 0.7;
}

.progress-container {
  padding: 15px;
  width: 50%;
  min-width: 425px;
  margin: auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.progress {
  position: absolute;
  width: 375px;
  height: 3px;
  background: linear-gradient(
    to right,
    var(--line-border-fill) var(--bar-percentage),
    var(--line-border-empty) 0 100%
  );
  z-index: -1;
}

.circle {
  background: #413f3f;
  color: #e6e6e6;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
  background: #4c7d92;
}
